@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif;
  overflow-x: hidden;
}
.navbar{
  justify-content: space-between;
  width: 100%;
  height: 8rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;    
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.925);
  z-index: 100;
}
.sticky .navbar{
  height: 8rem;
  background-color: #000;
}
.navegacion{
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: transparent;
}
.navegacion h1{
  font-size: 2rem;
  color: white;
  margin-left: 1rem;
  font-weight: bold;
  margin-right: 23rem;
}
.link{
  margin-right: 10px;
  text-decoration: none;
  color: rgb(255, 0, 0);
  font-size: 1.2rem;
}
.link:hover{
  color: rgb(255, 255, 255);
}
.titulo{
  display: flex;
  align-items: center;
}
.titulo img:nth-child(1){
  width: 100px;
  height: 100px;
  margin: 0;

}
.titulo img:nth-child(2){
  width: 170px;
  height: 200px;
  top: 20%;
  margin-left: -10px;
}
.btn_menu button {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  margin-right: 1rem;
}

.btn_menu button:focus,
.btn_menu button:hover {
  color: #fff;
}

.btn_menu button:focus:after,
.btn_menu button:hover:after {
  width: 100%;
  left: 0%;
}

.btn_menu button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.slide-menu {
  position: fixed;
  top: 0;
  left: -250px; /* Oculto por defecto */
  width: 250px;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  
  color: white;
  padding-top: 60px;
  transition: 0.3s; /* Animación */
  z-index: 1000; /* Para que se vea sobre el contenido */
}

/* Contenido del slide */
.slide-menu a {
  padding: 10px 15px;
  display: block;
  color: white;
  text-decoration: none;
}

.slide-menu a:hover {
  background: #ffffffbb;
  color: rgb(255, 0, 0);
}

/* Botón de cierre */
.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

.slide-menu h1 {
  margin: 7px;
}
ul {
  list-style: none;
}
/* footer */
.footer{
  width: 100%;  
  height: 100%;
  display: flex;
background-color:rgb(63, 63, 63) ;

}

.footer-content{
  color: rgb(207, 207, 207);
  align-content: center;
  background-color: rgb(63, 63, 63);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-size: 15px;
  padding: 20px;
}
.redes{
  display: flex;
  justify-content: center;  
  align-items: left;
}
.card {
  width: fit-content;
  height: fit-content;
  background-color: rgb(63, 63, 63);
  display: flex;
  flex-direction: row; 
  padding: 25px 25px;
  gap: 20px;
  left: 10%;
  
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
/* Tiktok*/
.containerTwo:hover {
  background-color: #6e25f4;
  transition-duration: 0.3s;
}
/* Facebook*/
.containerThree:hover {
  background-color: #1877f2;
  transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: green;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 19px;
}
.largeIcon {
  width: 27px; /* Ancho específico solo para el icono de TikTok */
}
.socialSvg path {
  fill: rgb(207, 207, 207);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fondos img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  display: flex;

}
.nombre {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  transition: 0.3s;
  position: absolute;
  top: 37%;
  left: 5%;
  width: 20%;
 }
 
 .nombre:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5,
     inset -20px -20px 60px #ffffff;
  transition: 0.3s;
  transform: scale(1.1);
 }
 .contan h1{
   color: rgb(255, 28, 28);
   font-size: 4rem;
   text-shadow: 0px 0px 10px #ff0000;
   position: absolute;
   top: 10%;
  left: 10%;
 }
 .apellido {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  transition: 0.3s;
  position: absolute;
  top: 37%;
  left: 30%;
  width: 20%;
 }
 
 .apellido:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5,
     inset -20px -20px 60px #ffffff;
  transition: 0.3s;
  transform: scale(1.1)
 }
 .email {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  transition: 0.3s;
  position: absolute;
  top: 47%;
  left: 5%;
  width: 20%;
 }
 
 .email:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5,
     inset -20px -20px 60px #ffffff;
  transition: 0.3s;
  transform: scale(1.1)
 }
 .telefono {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  transition: 0.3s;
  position: absolute;
  top: 47%;
  left: 30%;
  width: 20%;
 }
 
 .telefono:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5,
     inset -20px -20px 60px #ffffff;
  transition: 0.3s;
  transform: scale(1.1)
 }
 .mensaje {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  transition: 0.3s;
  position: absolute;
  top: 57%;
  left: 5%;
  width: 45%;
  height: 150px;
 }
 
 .mensaje:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5,
     inset -20px -20px 60px #ffffff;
  transition: 0.3s;
  transform: scale(1.1)
 }
 .submit{
  position: absolute;
  top: 90%;
  left: 20%;
  width: 20%;
  height: 30px;
  border-radius: 1rem;
  border: none;
  background: #ff0000;
  cursor: pointer;
  color: #ffffff;
 }
.submit:hover{
  transform: translate(-0.1em, -0.1em);
  box-shadow: 0.2em 0.2em hsl(0, 100%, 63%);

}
.submit:active{
  transform: translate(0.1em, 0.1em);
  box-shadow: 0.1em 0.1em hsl(0, 100%, 63%);
}
.telefono_icon{
  position: absolute;
  top: 60%;
  right: 100%;
  color: #000;
  z-index: 1000;
}
.link:nth-child(4){
  color: white;
}
.link:nth-child(4):hover{
  color: rgb(255, 28, 28);
}