body {    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background: linear-gradient(
    135deg,
    #ffe8f3,
    #d9f3ff
  );
    
}
.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-53 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #ff0000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);

}

.btn-53:disabled {
  cursor: default;
}

.btn-53:-moz-focusring {
  outline: auto;
}

.btn-53 svg {
  display: block;
  vertical-align: middle;
}

.btn-53 [hidden] {
  display: none;
}

.btn-53 {

  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}

.btn-53 .original {
  background: #ff0000;
  color: #ffffff;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
  transform: translateY(100%);
}

.btn-53 .letters {
  display: inline-flex;
}

.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}
.content_t {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.title_1{
  position: absolute;
  top: 0;
  left: 540px;
  z-index: 101;
}
.header-logo{
  position: absolute;
  top: -20px;
  left: 400px;
  width: 160px;
  height: 160px;
}
header {
  background-color: #ff0000;
  color: rgb(43, 255, 0);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 100;
}
/* Estilos del enlace */
.title-link {
  color: white;  /* o el color que prefieras */
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: all 0.3s ease;
}

.title-link:hover {
  text-shadow: 0 0 10px rgb(255, 255, 255);
}
  
.content_t{
  height: 120px;
  width: 100%;
  color: white;
  top:-10px;
  left: 480px;
  font-size: 22px;

}
.container p{
  text-align: right;
}
.sidebar img{
  height: 50px;
  width: 50px;
}

.sidebar.hidden {
  transform: translateX(0%);
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.content {
  flex: 1;
  position: relative;
  padding: 20px;
  z-index: 1;
  margin-left: 0; 
  height: 100px;

}
.sidebar {
  width: 250px;
  height: 100vh;
  background-color:#ff0000;
  color: white;
  padding: 20px;
  transition: transform 0.5s ease;
  transform: translateX(-100%);
  position: fixed;
  z-index: 1000;
  top: 0;

}
/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .header-logo {
      height: 100px;
      width: 100px;
      top: 25px;
      left: 160px;
  }
  .title_1{
    display: none;
  }

  .content_t{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  }
  




@media (max-width: 768px) {
      .text-overlay h2 {
        font-size: 18px;
    }

    .text-overlay p {
        font-size: 12px;
    }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80%;
    transform: translateX(-100%);
    
  }


}
.button_close {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.button_close:before,
.button_close:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.button_close:before {
  border: 4px solid #f0eeef;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button_close:after {
  border: 4px solid #ffffff;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.button_close:hover:before,
.button_close:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.button_close:hover:after,
.button_close:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.button-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: #f0eeef;
}

.button_close:hover .button-box,
.button_close:focus .button-box {
  transition: 0.4s;
  transform: translateX(-56px);
}
.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list > li {
  margin:  0;
}

.menu-list > li > a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  display: block;
}

/* Estilos para el dropdown */
.dropdown {
  width: 100%;
}

.dropdown-title {
  cursor: pointer;
  display: block;
  font-size: 16px;
  transition: 0.5s;
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  padding-left: 20px;
  list-style: none;
}

.dropdown-content li {
  margin: 8px 0;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  font-size: 15px; /* Tamaño más pequeño que los links principales */
  display: block;
  padding: 2px 0;
}

/* Clase para cuando el dropdown está abierto */
.dropdown.active .dropdown-content {
  max-height: 500px; /* Ajusta este valor según necesites */
  transition: max-height 0.5s ease-in;
}

.dropdown.active .dropdown-title {
  color: #ccc; /* Cambio de color cuando está activo */
}

/* Rotación de la flecha cuando está activo */
.dropdown.active .dropdown-title {
  margin-bottom: 10px;
}

.dropdown-title:hover {
  color: #ccc;
}

.dropdown-content a:hover {
  color: #ccc;
}






@media (max-width: 768px) {
  .button_close{

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin-top: -7px;

  }
  .sidebar h2{
    margin-top: 30px;
  }
  .content_t{
    top: 10px;
    left: 105px;
  }

  .title-link{
    top: -23px;
    left: -40px;
    font-size: 25px;

  }

}


@media (max-width: 768px) {
  .btn{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 6px;
  }
  .btn .text{
    width: 55px;
    height: 14px;
    font-size: 15px;
    
  }
  .btn .icon{
    width: 50px;
    height: 30px;
  }

  .btn-53{
    position: relative;
    top: 0px;
    left: -35px;
  }
  .btn-53 .letters  {
    font-size: 14px;
  }
  .btn-53 .original{
    font-size: 14px;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list > li {
  margin:  0;
}

.menu-list > li > a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  display: block;
}

/* Estilos para el dropdown */
.dropdown {
  width: 100%;
}

.dropdown-title {
  cursor: pointer;
  display: block;
  font-size: 16px;
  transition: 0.5s;
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  padding-left: 20px;
  list-style: none;
}

.dropdown-content li {
  margin: 8px 0;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  font-size: 15px; /* Tamaño más pequeño que los links principales */
  display: block;
  padding: 2px 0;
}

/* Clase para cuando el dropdown está abierto */
.dropdown.active .dropdown-content {
  max-height: 500px; /* Ajusta este valor según necesites */
  transition: max-height 0.5s ease-in;
}

.dropdown.active .dropdown-title {
  color: #ccc; /* Cambio de color cuando está activo */
}

/* Rotación de la flecha cuando está activo */
.dropdown.active .dropdown-title {
  margin-bottom: 10px;
}

.dropdown-title:hover {
  color: #ccc;
}

.dropdown-content a:hover {
  color: #ccc;
}
}
/* From Uiverse.io by cssbuttons-io */ 
button {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
 }
 
 .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hwb(0 0% 100% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }
 
 .edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
     to left,
     hsl(340deg 100% 16%) 0%,
     hsl(340deg 100% 32%) 8%,
     hsl(340deg 100% 32%) 92%,
     hsl(340deg 100% 16%) 100%
   );
 }
 
 .front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }
 
 button:hover {
  filter: brightness(110%);
 }
 
 button:hover .front {
  transform: translateY(-6px);
  transition: transform
     250ms
     cubic-bezier(.3, .7, .4, 1.5);
 }
 
 button:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
 }
 
 button:hover .shadow {
  transform: translateY(4px);
  transition: transform
     250ms
     cubic-bezier(.3, .7, .4, 1.5);
 }
 
 button:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
 }
 
 button:focus:not(:focus-visible) {
  outline: none;
 }



.Contacto{
  display: flex;
  justify-content: space-between;
  position: relative;
}


.Contacto::before,
.Contacto::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: conic-gradient(
    from 0deg,
    #ff0b1f,
    /* Soft pink */ hsl(0, 0%, 100%),
    /* Light peach */ #f73c3c,
    /* Pastel yellow */ #f0cbcb,
    /* Mint green */ #fcdede,
    /* Baby blue */ #ffc2c2,
    /* Lavender */ hsl(4, 100%, 81%),
    #ff9aa2
  );
  transform: translate(-50%, -50%);
  animation: rotate 8s linear infinite;
  filter: blur(50px); /* Create a soft glowing effect */
  opacity: 0.8;
}

/* Secondary rotating layer for depth */
.Contacto::after {
  width: 180%;
  height: 180%;
  animation: rotate-reverse 10s linear infinite;
  opacity: 0.6;
}

/* Rotating animations */
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate-reverse {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

.Contacto_input{
  width: 48%;
  top: 50%;
  left: 50%;
  transform: translate(-10%, 10%);
  font-family: 'Noto Serif Hentaigana', cursive;
  background-color: transparent;  
  border-radius: 20px;
  z-index: 1;
}
.Contacto_info{
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate( 40%, 30%);
  text-align: left;
  font-family: 'Pochaevsk', cursive;
  font-size: 20px;
  background-color: transparent;
  z-index: 1;
}
.Contacto_info h2{
  color: rgb(255, 6, 6);
}
.Contacto_input h1{
  color: rgb(255, 6, 6);
}
#name{
  height: 25px;
  width: 250px;
  margin: 10px;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #ffffff;
  transition: 0.3s;
}
#name:focus{
  outline-color: #e8e8e8;
 background: #e8e8e8;
 box-shadow: inset 20px 20px 60px #c5c5c5,
		inset -20px -20px 60px #ffffff;
 transition: 0.3s;
}
#lastname{  
  height: 25px;
  width: 250px;
  margin: 10px;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  background: #ffffff;
  transition: 0.3s;
}
#lastname:focus{
  outline-color: #e8e8e8;
 background: #e8e8e8;
 box-shadow: inset 20px 20px 60px #c5c5c5,
		inset -20px -20px 60px #ffffff;
 transition: 0.3s;
}
#email{
  height: 25px;
  width: 250px;
  margin: 10px;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #ffffff;
  transition: 0.3s;
}
#email:focus{
  outline-color: #e8e8e8;
 background: #e8e8e8;
 box-shadow: inset 20px 20px 60px #c5c5c5,
		inset -20px -20px 60px #ffffff;
 transition: 0.3s;
}
#phone{
  height: 25px;
  width: 250px;
  margin: 10px;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  background: #ffffff;

  transition: 0.3s;
}
#phone:focus{
  outline-color: #e8e8e8;
 background: #e8e8e8;
 box-shadow: inset 20px 20px 60px #c5c5c5,
		inset -20px -20px 60x #ffffff;
 transition: 0.3s;
}
#message{
  height: 100px;
  width: 600px;
  margin: 10px;
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: #777;
  padding: .2rem 0;
  outline: none;
  background-color: transparent;
  color: #0d0c22;
  transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#message:focus, #message:hover{
  outline: none;
 padding: .2rem 1rem;
 border-radius: 1rem;
 border-color: #ff0000;
}
#message::placeholder{
  color: #777;
}
#message:focus::placeholder{
opacity: 0;
transition: opacity .3s;
}
